@media only screen and (max-width:1280px) {
    .header-log {
        padding-top: 10px;
        padding-left: 0;
        font-size: 12px;
    }
    .home-logo img {width: 100%;}
}
@media only screen and (max-width:1153px) {
    .header-part3 .stellarnav>ul>li>a {
        color: var(--color-light);
        padding-left: 15px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
    }
    .featuressec .maincircle .feacontent {
        left: 56%;
    }
    
}

@media only screen and (max-width: 1024px) {
    .maincircle.forMobile {
        display: block;
        height: auto;
    }
.maincircle.forDesktop {display: none;}
.featuressec .maincircle.forMobile .feacontent .circlehdng {
    width: 100%;
    padding-left: 0;
    position: static;
}
.featuressec .maincircle.forMobile .feacontent {
    position: static;
    top: 50%;
    transform: none;
    width: 100%;
    left: 0;
}
.featuressec .circlehdng {
    border: rgba(255,255,255,0.5) 1px solid;
    border-radius:15px;
    padding:6px 15px 15px !important;
}
}
@media only screen and (max-width: 991px) {
    .stellarnav.mobile, .stellarnav.mobile.fixed {
        display: inline-block;
        position: relative;
        margin-top: -53px;
        float: right;
    }
    .stellarnav {
        width: auto;
        z-index: 9900;
    }
    .stellarnav.dark, .stellarnav.dark ul ul {
        background: transparent !important;
    }
    .header-part2 nav {
        margin-left: 0;
        padding-right: 65px;
    }
    .featuressec {
        padding-bottom: 60px;
    }
    .abouts h2 , .featuressec .ftrhdng h1 , .sec-title h2 , .dealofday h2 , .blog .hdng h1{
        font-size: 35px;
    }
    .expitems .item-img .img {
        width: 120px;
        height: 120px;
    }
    .expitems {
        padding: 8px 0px;
    }
    .item-text .item-title {
        font-size: 19px;
        padding: 16px 20px;
        height: auto;
        margin-top: 0;
    }
    .expitems .item-text h3 {
        font-size: 23px;
        font-weight: 700;
    }
    .asidesecty {
        /* border: 1px solid #57ce47; */
        padding: 17px;
        background: #f5f5f5;
        border: #eee 1px solid;
        position: fixed;
        top: 0;
        left:-300px;
        width: 300px;transition: all 0.25s linear 0s;
        height: 100vh;
        overflow-y: auto;
    }
    .asidesecty.open {
        left:0;
    }
    .filterBtn , .forClose  {
        display: block;
    }
    .show-head .viewFilterLinks.d-flex {
        justify-content: center !important;
        margin-top: 30px;
    }
    .technology.featuressec {
        padding-bottom: 50px;
    }
    .technology_effect_left {
        padding: 30px 60px 30px 60px!important;
        transform: none !important;
        clip-path: none;
        text-align: center;
    }
    .technology_effect_right {
        padding-right: 15px !important;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}

@media only screen and (max-width: 767px) {
    .header-part2 nav {
        margin-left: 0;
        padding-right: 0;
    }
    .header-part3 .stellarnav.mobile {
        float: left;
        left: 15%;
    }
    .home-banner h1 {
        font-size:50px;
    }
    .home-banner {
        text-align: center;
    }
    
    .dealofday h2 {
        font-size: 30px;
    }
    .dealofday .btnbox a {
        font-size: 16px;
        transition: 0.3s;
    }
    .dealofday .btnbox {
        text-align: end;
        margin-top: 9px;
    }
    .dealofday .mb-3, .dealofday .my-3 {
        margin-bottom: 10px !important;
    }.mb-10, .my-10 {
        margin-bottom: 30px !important;
    }
    .featuressec .circlehdng h5 {
        font-size: 25px;
        margin: 5px 0;
    }
     .header-part nav a {

        padding-left: 6px;

    }
    .header-part p {

        display: none;

    }
    .faq .accordion-button {
        font-size: 28px;
        padding-left: 15px;
    }
    .faq .accordion-body {
        font-size: 22px;
        padding-left: 15px;
    }
    .videosec {
        padding: 25px 0 !important;
    }
    ol {padding: 0;}
    .col-3 .paggSlider .slick-list {
        height: 420px !important;
    }
    .slick-list.draggable {height: auto !important;}
    .paggSlider .slick-track {
        width: 100% !important;
        transform: none !important;
    }
    .productTextHolder h2 {font-size: 25px !important;}
    .technology_effect_left {
        padding: 30px 60px 30px 60px!important;
    }
}
    
@media only screen and (max-width: 575px) {
    .abouts h2, .featuressec .ftrhdng h1, .sec-title h2, .dealofday h2, .blog .hdng h1 {
        font-size: 28px;
        text-align: center;
    }
    .header-part3 .stellarnav.mobile {
        left: 0;
    }
    .headerglry {
        margin: 5px 0;
    }
    .header-log {
        text-align: end;
    }
    .dealofday .btnbox {
        text-align: center;
        margin-top: 9px;
    }
    .dealofday {
        padding:30px 0;
    }
    .retailers .map-searchbar .searchinput label {
        margin-right: 0;
        width: 100%;
    }
    .retailers .map-searchbar .searchinput .item select {
        width: 100%;
    }
}